body
{
    font-size: Arial;
    background:linear-gradient(to bottom,rgb(255, 179, 98),rgb(249, 159, 254));
}
b{
    color: aquamarine;
}
.box {
    height: 700px;
    width: 500px;
    background-image:url(img2.jpg);
    background-size: cover;
    color:white;
    padding: 20px;
    margin: 30px auto;
    border: 2px solid rgb(84, 0, 0);
    border-radius: 10px;
    }
.quote {
        background: rgba(7, 105, 103, 0.292);
        padding: 10px;
        border-left: 4px solid blue;
        margin: 20px 0;
        font-style: italic;
        text-align: center;
        border-end-end-radius: 10px;
        }
.author {
        display: flex;
        gap: 15px;
        background:rgb(167, 30, 123);
        padding: 10px;
        border-start-end-radius: 8px;
        }
.author b{
        color:rgba(30, 219, 96, 0.575);
        }
.author img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        }
.footer {
        background: grey;
        color: rgb(255, 0, 0);
        padding: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        border-end-end-radius: 5px;
        }